NODE_ENV=development
PORT=port
MONGO_URI=mongodb://localhost:27017/campus-app
JWT_SECRET=jwt_secret
JWT_ACCESS_SECRET=jwt_access_secret
JWT_REFRESH_SECRET=jwt_refresh_secret
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret
REDIS_URL=redis://localhost:6379
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PASSWORD=mailtrap_password
MAILTRAP_PORT=mailtrap_port
MAILTRAP_SENDER=mailtrap_sender
MAILTRAP_USERNAME=mailtrap_username
GROQ_API_KEY=groq_api_key